{% extends '_templates/base.njk'%}

{% block page_title %}Pirate ships{% endblock %}

{% block page_description %}A list of pirate ships of lore from fact and faction.{% endblock %}

{% block content %}
<article class="container">
  <h1>Ships of the Golden Age of pirates</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, eaque nobis repellat quidem molestiae praesentium mollitia, quis, eum velit voluptas hic animi? Facere dolor pariatur itaque beatae dignissimos laudantium in?</p>
    <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for ship in pirates.ships %}
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ship.ship_name}}</h5>
            <h6 class='captain-name'>{{ship.captain}}</h6>
            <p class="card-text">{{ship.blurb}}</p>
            <div class="card-footer">
              <a href="{{ship.source}}" class="card-link">More about the ship</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</article>
{% endblock %}