{% extends '_templates/base.njk'%}

{% block page_title %}Pirate ships{% endblock %}

{% block page_description %}A list of pirate ships of lore from fact and faction.{% endblock %}

{% block content %}
<article class="container">
  <h1>Ships of the Golden Age of pirates</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, eaque nobis repellat quidem molestiae praesentium mollitia, quis, eum velit voluptas hic animi? Facere dolor pariatur itaque beatae dignissimos laudantium in?</p>
</article>
{% endblock %}