.card-title {
  color: darkblue;
  font-family: 'Satisfy', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.captain-name {
  font-weight: 200;
  margin-bottom: 15px;
}

.card-footer .card-link {
  color: mediumblue;
  text-decoration: none;
}

